[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = ""
  debug = false
  quiet = false
  logfile = ""
  hostname = ""
  omit_hostname = false
[[ outputs.influxdb]] 
  urls = ["$victoria_url"]
{% if victoria.user is defined %}
  username = "$victora_user"
{% endif %}
{% if victoria.password is defined %}
  password = "$victoria_password"
{% endif %}
  database = "linux"
  namepass = ["cpu","disk","diskio","mem","net","swap","system","docker","http_response","cs_*","systemd_units"]
  insecure_skip_verify = true
[[ outputs.loki]]
  domain = "$loki_url"
{% if loki.user is defined %}
  username = "$loki_user"
{% endif %}
{% if loki.password is defined %}
  password = "$loki_password"
{% endif %}
  namepass = ["tail*","exec*","x509_cert"]
  gzip_request = true
[[inputs.cpu]]
  percpu = false
  totalcpu = true
  collect_cpu_time = false
  report_active = false
[[inputs.disk]]
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "overlay", "aufs", "squashfs"]
[[inputs.diskio]]
[[inputs.mem]]
[[inputs.net]]
[[inputs.swap]]
[[inputs.system]]
[[inputs.systemd_units]]
  interval = "30s"
[[inputs.exec]]
  commands = ["grep -Ew 'NAME|VERSION' /etc/os-release"]
  data_format = "logfmt"
  name_suffix = "_os_release"
  interval = "5m"
  [[inputs.exec.tags]]
    type="os-info"